[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.11"

[packages]
pyaudio = "==0.2.13"
numpy = "==1.24.1"
PySimpleGUI = "==4.60.4"

[dev-packages]
black = "==22.3.0"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pyinstaller = "5.1"